/*DreamSwap - Style.css
Hoja de stilo base y componentes para el prototipo de HTML
*/
/*RESET + VARIABLE*/
:root {
    --gb:
    --surface:
    --surface-2:
    --text:
    --text-2:
    --accent:
    --accent-2:
    --muted: #999;
    --border:
    --success: #4caf50;
    --warning 
}